/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03.04.2015, 19:19:43
    Author     : Evgeniy
*/
table{table-layout:auto; width:auto; border-collapse:separate;}
td{border:1px solid green;padding:1em;}
#r2c1, #r2c2 { border-style:double; border-width:medium;}
#r3c1, #r3c2 {border-style:dotted; vertical-align:bottom; height:5em;} 

 